{% if author %}
    <h1>{{ author.username }}</h1>
    <img src="{{ author.picture }}" width="200">
    <p>Email : {{ author.email }}</p>
    <p>Nombre de livres : {{ author.nb_books }}</p>
{% else %}
    <p>Auteur introuvable.</p>
{% endif %}
